body{
    background-color: lightslategrey;
    font-family: 'Oswald', sans-serif; 

}

.form{
    background-color: white;
    padding: 20px;
    width: fit-content;
    margin: auto;
    border-radius: 5px;
}
input[type="text"], input[type="password"], input[type="email"], input[type="date"]{
    width: 95%;
}
input[type="submit"], input[type="reset"]{
    padding: 5px 20px;
    font-size: 11px;
}
input[type="submit"]{
    background-color: green;
    border: none;
    color: white;
}
input[type="reset"]{
    background-color: red;
    border: none;
    color: white;
}
.error{
    font-size: 10px;
    color: red;
}
.success{
    font-size: 10px;
    color: green;
}